.container {
    @include max_width(1140px);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .blogHeader {
    @include font_size_and_line_height(20px, 1.2);
    background-color: $color-primary2;
    padding-top: 12px;
    padding-bottom: 12px;
    @include iPad {
      @include font_size_and_line_height(16px, 1.5);
      padding-top: 16px;
      padding-bottom: 16px;
    }
    @include mobile {
      display: none;
    }
    .container {
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        li {
          a {
            text-decoration: none;
            color: $color-secondary;
            &:nth-child(1) {
              padding-right: 24px;
            }
            &:nth-child(2),
            &:nth-child(3) {
              padding-right: 24px;
              padding-left: 24px;
            }
            &:nth-child(4) {
              padding-left: 24px;
            }
            @include iPad {
              &:nth-child(1) {
                padding-right: 16px;
              }
              &:nth-child(2),
              &:nth-child(3) {
                padding-right: 16px;
                padding-left: 16px;
              }
              &:nth-child(4) {
                padding-left: 16px;
              }
            }
          }
        }
      }
    }
  }
  
  .blogTitle {
    border-left: 8px solid $color-primary;
    padding-left: 16px;
    margin-top: 40px;
    margin-bottom: 60px;
    @include font_size_and_line_height(48px, 1.5);
    font-weight: bold;
    @include iPad {
      border-left: 4px solid $color-primary;
      margin-top: 32px;
      margin-bottom: 40px;
    }
    @include mobile {
      padding-left: 8px;
      @include font_size_and_line_height(28px, 1.5);
      margin-top: 28px;
      margin-bottom: 28px;
    }
  }
  .blog {
    .blogList {
      margin-bottom: 96px;
      @include iPad {
        margin-bottom: 64px;
      }
      @include mobile {
        margin-bottom: 40px;
      }
      display: flex;
      @include mobile {
        flex-direction: column;
        align-items: center;
      }
      a {
        display: none;
      }
      img {
        display: block;
        width: 48.5%;
        object-fit: cover;
        margin-right: 3%;
        @include mobile {
          width: 100%;
          margin-right: 0%;
          margin-bottom: 8px;
        }
      }
  
      div {
        width: 48.5%;
        @include mobile {
          width: 100%;
          margin-right: 0%;
        }
        .subTitle {
          @include font_size_and_line_height(32px, 1.5);
          color: $color-primary2;
          font-weight: bold;
          margin-bottom: 2px;
          @include iPad {
            @include font_size_and_line_height(20px, 1.5);
          }
          @include mobile {
            @include font_size_and_line_height(16px, 1.5);
          }
        }
  
        .thirdTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;
          @include font_size_and_line_height(20px, 1.5);
          font-weight: bold;
          @include iPad {
            margin-bottom: 32px;
            @include font_size_and_line_height(16px, 1.5);
          }
          @include mobile {
            margin-bottom: 0px;
            @include font_size_and_line_height(14px, 1.5);
          }
          span {
            @include font_size_and_line_height(16px, 1.5);
            @include mobile {
              @include font_size_and_line_height(14px, 1.5);
            }
          }
        }
  
        .blogText {
          @include font_size_and_line_height(20px, 1.5);
          margin-bottom: 14px;
          @include iPad {
            margin-bottom: 0;
          }
          @include mobile {
            @include font_size_and_line_height(14px, 1.5);
            display: none;
          }
          .InnerTextMore {
            display: none;
            color: $color-muted2;
            @include iPad {
              display: inline;
            }
          }
        }
        .more {
          @include font_size_and_line_height(36px, 1.5);
          color: $color-primary2;
          display: flex;
          justify-content: flex-end;
          @include iPad {
            display: none;
          }
        }
      }
    }
  }
  .blogPage {
    white-space: nowrap;
    display: flex;
    justify-content: center;
  
    margin-bottom: 160px;
    @include font_size_and_line_height(18px, 1.5);
    @include iPad {
      margin-bottom: 96px;
    }
    @include mobile {
      margin-bottom: 56px;
      @include font_size_and_line_height(16px, 1.5);
    }
    li {
      border: 1px solid $color-muted2;
      &:nth-child(3) {
        background-color: $color-muted2;
        a {
          color: $color-secondary;
        }
      }
  
      a {
        display: block;
        color: $color-muted2;
        padding: 9px 12px;
        &:nth-child(1),
        &:nth-child(7) {
          padding: 8px 10px;
        }
      }
    }
  }
  