@mixin font_size_and_line_height($size, $line-height) {
    font-size: $size;
    line-height: $line-height;
}

@mixin display_block() {
    display: block;
}

@mixin background_position_center() {
    background-position: center;
}

@mixin background_size_cover() {
    background-size: cover;
}

@mixin background_repeat_no_repeat() {
    background-repeat: no-repeat;
}



@mixin justify_content_flex_end() {
    justify-content: flex-end;
}

@mixin justify_content_space_between() {
    justify-content: space-between;
}
@mixin justify_content_space_around() {
    justify-content: space-around;
}

@mixin align_items_center() {
    align-items: center;
}

@mixin align_items_stretch() {
    align-items: stretch;
}

@mixin  align_items_flex_end() {
    align-items: flex-end;
}

@mixin  align_items_baseline() {
    align-items: baseline;
}

@mixin margin_0_auto() {
    margin-left: auto;
    margin-right: auto;
}

@mixin text_align_center() {
    text-align: center;
}


@mixin max_width($max-width) {
    max-width: $max-width;
}

@mixin width($width) {
    width: $width;
}

@mixin background_image($link) {
    background-image: url($link);
}

@mixin height($height) {
    height: $height;
}

@mixin font_size_and_line_height($size, $line-height) {
    font-size: $size;
    line-height: $line-height;
}

@mixin max_width($max-width) {
    max-width: $max-width;
}

@mixin width($width) {
    width: $width;
}

@mixin background_image($link) {
    background-image: url($link);
}

@mixin height($height) {
    height: $height;
}

