$color-primary: #9f1213;
$color-primary2: #650300;
$color-primary3: #aa0601;
$color-secondary: white;
$color-secondary2: #dcdcdc;
$color-secondary3: #f2f2f2;
$color-muted: gray;
$color-muted2: #555555;
$color-dark: #aa06010d;
$color-black: #000;
